.column{
    height: 300px;
    width: 33.3%;
    border: 2px solid black;
    display: flex;
    margin: 2rem;
    justify-content: center;
    align-items: center;
}
.top{
    text-align: center;
}
.row{
    display: flex;
}
.container{
    padding: 0 rem;
}

@media all and (max-width:990px){
    .col{
        width: 100%;
        padding: 2rem;
        box-sizing: border-box;
    }
    .row{
        flex-direction: column;
    }
}